OPENAI_API_KEY=
GROQ_API_KEY=
DLAI_LOCAL_URL=http://localhost:{port}

LLAMA_API_KEY=
LLAMA_BASE_URL=http://localhost:11434

HUGGINGFACE_API_KEY=
E2B_API_KEY=

PHOENIX_API_KEY=
PHOENIX_BASE_URL=https://app.phoenix.arize.com/s/<PROJECT_ID>/v1/traces

TAVILY_API_KEY=